$gray: #f5f5f5;
$red:#e01f3d;
$containWidth:945px;
$fontsize: 18px;

//normalize
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import "layout";

//components
@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/stick";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/order-section";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";