.feautere{
    display: flex;
    flex-flow: row wrap;
}
.feature__icon{
    width: rem(44px);
    height: rem(44px);
    margin-right: rem(7px);
}
.feature__text{
    font-size: rem(16px);
    max-width: rem(85px);
}