.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.phone-number.header__phone{
    @include tablets{
        display: none;
    }
}
.logo{
    height: 42px;
    width: 42px;
}