.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.header__phone-number{
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    @include tablets{
        display: none;
    }
}
.header__phone-number-icon{
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
    flex-shrink: 0;
}
.logo{
    height: rem(42px);
    width: rem(42px);
}