.hero{
    background: $gray;
    height: 100vh;
    min-height: 650px;
    color: black;
    font-size: $fontsize;
    position: relative;
    &:after{
        position: absolute;
        content: url(../img/scotch.png);
        bottom: -20px;
        right: 20%;
    }
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px 0;
}
.hero__title-section{
    width: 46%;
    margin-top: 5%;

}
.hero__main-title{
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.hero__title-desc{
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 10%;;
}
.hero__beats{
    display: flex;
    flex-direction: row;
}
.hero__image-section{
    //width: 500px;
	//height: 500px;
	background: #ffffff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero__icons-sections{
    margin-top: -5%;
}