.menu{
    margin: 0 rem(30px);
    padding-top: rem(5px);
    @include tablets{
        display: none;
    }
}
.menu__item{
    margin-right: rem(15px);
    margin-bottom: rem(10px);
    &:last-child{
        margin-right: rem(0px);
    }
}
.menu__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__link{
    text-decoration: none;
    white-space: nowrap;
}