.radio{
    display: flex;
    cursor: pointer;
    margin: rem(10px);
    user-select: none;
    &--checkbox{
        .radio__visible{
            border-radius: 0;
            &::before{
                border-radius: 0;
                background: $red;
            }
        }
    }
}
.radio__elem{
    display: none;
    &:checked ~ .radio__visible{
        &::before{
            display:block;
        }

    }
}
.radio__visible{
    background: #ffffff;
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    &::before{
        content: "";
        display: none;
        width: rem(14px);
        height: rem(14px);
        background: $red;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.radio__title{
    padding-left: rem(10px);
}